.card-body{
    background-color: #f3f3f3;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.about{
    background-size: 700px;
    background-position-x: 170px;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_%28blue_dots%29.svg');
}

.clear{
    clear: both;
}

.cursor-pointer{
    cursor: pointer;
}

.modal-dialog{
    max-width: 70% !important;
}